# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json

HELP.md
compose.yaml
.gradle
build

uploads/decks

# Backend
build/
.gradle/

# Frontend
dist/
.env
.env.local

# IDE
.idea/
.vscode/